<!DOCTYPE html>
<html>
<head>
    <title>Gulp Template App</title>
    <meta name="description" content="{{pkg.description}}">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{path.css}}" media="all" />
</head>
<body>
<script type="text/javascript" src="{{path.js}}"></script>
</body>
</html>