<div class="toolbar">

    <div id="logo"></div>

    <ul class="navigation">
        <li class="navigation-item" data-payload="porfolio">Portfolio</li>
        <li class="navigation-item" data-payload="activity">Activity</li>
        <li class="navigation-item" data-payload="performance">Performance</li>
    </ul>

    <div class="user-badge">
        <div class="user-label"></div>
    </div>

    <div class="settings-btn"></div>

</div>